
# dependencies
/node_modules

.vscode
.idea
.npm
.swc

# testing
/coverage
/cypress/downloads
/cypress/screenshots

# production
/build
/dist
/.next

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.production.local
.env

# typescript
*.tsbuildinfo

# Deploy folders
.vercel/
